* {
  margin: 0;
  padding: 0;
}

.hero-section {
  min-height: 100vh;
  background-image: url(/images/back-deepak.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
}

.jhalar{
    /* max-width: 10em; */
}

.para-audio-container {
  margin-left: 5rem;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.para-audio-container p {
  font-size: 46px;
  font-family: "Salsa", cursive;
  max-width: 80%;
}
audio::-webkit-media-controls-panel {
  background-color: #fbd8a4; /* Replace with your desired color */
}

.audio-container {
  background-color: #fbd8a4;
  max-width: 80%;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Salsa", cursive;
  padding-left: 10px;
  margin-top: 20px;
}

.diya{
    max-width: 300px;
}
.music-txt{
    flex-shrink: 0;
}



@media (max-width:850px){
    .second-diya, .music-txt, .music-group{
        display: none;
    }
    .first-diya{
        max-width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .para-audio-container p {
        font-size: 25px;
      }
    .para-audio-container{
        max-width: 90%;
    }
}